.embla {
  overflow-x: auto;
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.embla__container {
  display: flex;
  gap: 1.5rem;
}

.embla__slide {
  flex: 0 0 auto;
  min-width: 0;
}


.embla__slide_mobile {
  flex: 0 0 54%;
  min-width: 0;
}
